<div class=" h-full flex overflow-hidden text-sm">
  <app-menu></app-menu>
  <div class="flex-grow overflow-hidden h-full flex flex-col">
    <app-header class="flex-none" title="Usuarios en lista blanca"></app-header>
    <div class="content overflow-y-auto">

      <div
        class="flex items-center p-4 m-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-blue-800 dark:text-blue-300"
        role="alert">
        <i class="flex-shrink-0 inline w-4 h-4 mr-3 fa-solid fa-triangle-exclamation"></i>
        <div class="text-xs">
          Los usuarios registrados son aquellos que no serán analizados por el agente
          
        </div>
      </div>

      <app-list-filter [listUsers$]="whiteList$" identifier="white"></app-list-filter>
    </div>
  </div>
</div>